<!DOCTYPE html>

<html ng-app="helloApp">
  <head>
    <title>Example 6</title>
    <meta charset="UTF-8">
    <script src="../js/libs/angular.js/angular.js"></script>
    <script>
      var nameApp = angular.module('helloApp', []);
      nameApp.controller('HelloCtrl', function ($scope){
        $scope.hello = ['Hello'];
        
        $scope.addWord = function() {
          $scope.hello.push($scope.newWord);
          $scope.newWord = '';
        };
        
        $scope.removeWord = function(word){
          var i = $scope.hello.indexOf(word);
          $scope.hello.splice(i, 1);
        };
      });
    </script>
  </head>
  <body ng-controller="HelloCtrl">
    <ul>
      <li ng-repeat="word in hello">
        {{word}}
        <a href="" ng-click="removeWord(word)">x</a>
      </li>
    </ul>
    <form ng-submit="addWord()">
      <input type="text" ng-model="newWord">
      <input type="submit" value="Dodaj">
    </form>
  </body>
</html>
